body {
  text-align: center;
  margin: 15%;
  h1 {
    font-family: "Verdana";
    color:rgb(255, 255, 255);
    background-color: #33992f;
    padding: 10px;
  }

  h3 {
    font-family: 'Roboto';
    color:#ffffff;
    background-color: #2f995f;
  }
    
  p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .botao {
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
  }

  .botao:hover{
    background-color: rgb(126, 89, 160);
    transition: .5s;
    text-align: center;
  }

  .centro{
    text-align: center;
  }

  #testando {
    color: nulo;
    border: 2px solid #3e9261;
    border-radius: 5px;
    padding: 20px;
  }

  img {
    width: 400px; 
  }
  
}